:root {
    --color-primary :#757575;
    --color-secondary: #212121;
    --color-accent: #2196F3;
    --color-white: #fffff;
    --color-background: #ffffff;
    --color-background-hero: #2F303A;
    --color-background-work: #F5F5F5;
    --color-background-team: #F5F4FA;
}

body {
color: var(--color-primary); 
background-color: var(--color-background);
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 1.7;
}

.logo {
color: #000;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;   
line-height: 1.2;
letter-spacing: 0.03em;
text-decoration: none;

}

.logo-accent {
color: var(--color-accent)
}
.list {
    list-style: none;
}
/* site-nav */
.site-nav .link {
color: var(--color-secondary);
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
color: var(--color-accent);
}

/* не спрацьовує current */
.site-nav .link .current { 
 color: var(--color-accent);
}

.contacts .link {
    color: var(--color-primary);
    font-weight: 500;
    text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus {
 color: var(--color-accent);
}
/* section-hero */

.hero {
    background-color: #2F303A;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}
/* focus,hover, */
.primary-button {
    color: #ffffff;
    background-color: var(--color-accent);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.primary-button:hover,
.primary-button:focus {
 background-color: #188CE8;
}

/* section */
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
}
.section .features {
    background-color: var(--color-background-work);
}
.feature-list .title {
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-secondary);
}
.section .work {
    background-color: var(--color-background-work);
}
.section .team {
    background-color: var(--color-background-team);
}
.team-list .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
}
.team-list .profession {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--color-primary);
}
/* portfolio */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.buttons {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
   background-color: var(--color-background-team);
   cursor: pointer;
}
.buttons:hover,
.buttons:focus {
    color: #ffffff;
    background-color: var(--color-accent);
}
.portfolio-list .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-secondary);
}
.portfolio-list .project {
    font-size: 16px;
    line-height: 1,88;
    letter-spacing: 0.03em;
    color: var(--color-primary);
}
.section .portfolio {
    background-color: var(--color-background-work);
}
/* footer */
.footer {
    background-color: var(--color-background-hero);
}
.logo-foo {
color: #ffffff;
}
.contacts-foo .contacts {
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contacts-foo .contacts {
    
}



